@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --green-ge-footer: #9ACC77;
  --green-ge: #45936C;
  --border-r-ge: 10px;
  --gray-ge: #F4F4F4;
  --black-ge: #37393F;
  --blacked-ge: #2E2F34;
  --modalbg-ge: #ebebeb;
}
*{
  font-family: 'Poppins', sans-serif;
}

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 40rem;
}

body {
  --bs-body-bg: #E8F2E1;
}

.pj {
  background-color: white;
  border-radius: var(--border-r-ge);
  padding: 1rem;
}

.card {
  width: 16rem;
}

.imgcal {
  background-color: var(--gray-ge);
}

.infocal {
  background-color: white;
}

.textcal {
  text-align: justify;
  text-justify: inter-word;
}

.minical {
  font-style: oblique;
  color: rgb(114, 114, 114);
}

h3 {
  color: black !important;
}

.catalog-item-image {
  width: 250px;
  height: 140px;
}

.benef {
  background-color: white;
}
.benefr{
  margin-top: 3rem !important;
}

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.cardb {
  background-color: var(--gray-ge);
  width: 300px;
  border-radius: var(--border-r-ge);
  padding: 10px;
  text-align: center;
}

.calback {
  background-image: url('https://i.pinimg.com/564x/36/13/33/361333a94b80b9d36630820691fbad46.jpg');
  background-size: 100% 100%;
}

.calc {
  background-color: var(--black-ge);
  height: 400px;
}

.calculadora {
  color: var(--gray-ge);
  background-color: var(--blacked-ge);
  border-radius: var(--border-r-ge);
}

.btnc {
  background-color: var(--green-ge) !important;
  border: 1px solid var(--green-ge) !important;
  color: var(--gray-ge) !important;
}

.headerm {
  background-color: var(--green-ge);
  color: var(--gray-ge);
}

.footerm {
  background-color: var(--black-ge) !important;
}

.modal {
  --bs-modal-width: 900px !important;
}
.form-check-input:checked {
  background-color: var(--green-ge) !important;
  border-color: var(--green-ge) !important;
}
.form-check-input:focus {
  outline: 0;
  box-shadow: 0 0 0 0.20rem rgb(166, 225, 196) !important;
}
ul{
  list-style-type: none;
}

.form-check-input{
  background-color: var(--gray-ge) !important;
}
.form-control{
  background-color: var(--gray-ge) !important;
}
.divFooter{
  background-color: var(--green-ge-footer);
}
.footer ul{
  justify-content: flex-end !important;
}
.iconf a{
  width: 50px; 
  height: 50px; 
  border-radius: 50%; 
  background-color: white; 
  display: flex;
  align-items: center;
  justify-content: center;
}
.catalog{
  width: 100%;
}
.card-body{
  background-color: var(--gray-ge);
}
.sPart1, .sPart2{
  background-color: white;
}
.sPart2 img{
  border-radius: var(--border-r-ge);
  margin-bottom: 25px;
}
.sPart2 h5{
  color: var(--green-ge);
}
.sPart2 .subimg{
  width: 406px;
}
@media (max-width: 800px) {
  .imgcal, .sPart1{
    width: 100% !important;
    order: 6 !important;
  }
  .benef{
    display: flex;
    flex-direction: column;
    padding: 30px !important;
  }
  .benef h2{
    margin-bottom: 0 !important;
  }
  .benefr{
    margin-top: 0 !important;
    flex-direction: column;
    align-content: center;
  }
  .benefr div{
    width: 250px;
    margin-top: 20px !important;
  }
  .mcolor{
    color: var(--green-ge);
  }
  .calculadora h5, p{
    text-align: center;
  }
  .footer{
    flex-direction: column;
  }
  .footer p{
    margin-bottom: 15px !important;
  }

  .footer ul{
    justify-content: center !important;
  }
  .sPart2 .subimg{
    width: 224px;
  }
}