<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="proyecto-url"></title>
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="icon" href="/assets/img/icon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" />
</head>

<body>
    <div class="container mt-5 regulaciones animation">
        <h1 class="text-center py-5">Regulaciones y políticas energéticas en México</h1>

        <div class="row mt-4">
            <div class="col-md-6">
                <h2>Reforma Energética (2013)</h2>
                <p>
                    En 2013, México implementó una reforma energética que abrió el mercado energético al sector privado.
                    Esto permitió la participación de empresas nacionales e internacionales en la generación,
                    distribución y comercialización de energía.
                </p>
            </div>
            <div class="col-md-6">
                <h2>Ley de Transición Energética (2015)</h2>
                <p>
                    Esta ley establece las bases para la transición hacia un sistema energético más sostenible y bajo en
                    carbono. Busca aumentar la participación de fuentes renovables en la matriz energética y establece
                    metas específicas para la generación de energía limpia.
                </p>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-6">
                <h2>Subastas Eléctricas</h2>
                <p>
                    México ha llevado a cabo subastas eléctricas en las cuales se otorgan contratos a largo plazo para
                    proyectos de energía renovable. Estos contratos buscan promover la inversión en proyectos solares,
                    eólicos y de otras fuentes limpias.
                </p>
            </div>
            <div class="col-md-6">
                <h2>Política Nacional de Cambio Climático</h2>
                <p>
                    México cuenta con una Política Nacional de Cambio Climático que busca impulsar acciones para reducir
                    las emisiones de gases de efecto invernadero, promover la eficiencia energética y fomentar el uso de
                    energías renovables.
                </p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6">
                <h2>Estrategia Nacional de Energía (ENASE)</h2>
                <p>
                    Esta estrategia establece los lineamientos para la planeación y desarrollo del sector energético en
                    México, incluyendo metas específicas para la incorporación de energías renovables.
                </p>
            </div>
            <div class="col-md-6">
                <h2>Certificados de Energía Limpia (CEL)</h2>
                <p>
                    La Comisión Reguladora de Energía (CRE) implementó el sistema de Certificados de Energía Limpia, que
                    establece la obligación para los participantes del mercado eléctrico de adquirir un porcentaje
                    creciente de energía limpia a lo largo del tiempo. Los CELs son emitidos por cada MWh de energía
                    limpia producido.
                </p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6">
                <h2>Ley del Servicio Público de Energía Eléctrica (LSPEE)</h2>
                <p>
                    Establece las condiciones generales para la prestación del servicio público de energía eléctrica y
                    puede incluir disposiciones relacionadas con las energías renovables.
                </p>
            </div>
            <div class="col-md-6">
                <h2>Programa de Desarrollo del Sistema Eléctrico Nacional (PRODESEN)</h2>
                <p>
                    Define la planificación y desarrollo del sistema eléctrico, incluyendo la incorporación de energías
                    renovables.
                </p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6">
                <a
                    href="https://www.gob.mx/conuee/acciones-y-programas/normas-oficiales-mexicanas-en-eficiencia-energetica-vigentes">
                    <h2>Normas Oficiales Mexicanas (NOM)</h2>
                </a>
                <p>
                    Existen NOM relacionadas con la eficiencia energética, calidad del aire y otras áreas vinculadas a
                    las energías renovables.
                </p>
            </div>
            <div class="col-md-6">
                <h2>Ley de la Industria Eléctrica (LIE)</h2>
                <p>
                    Regula la industria eléctrica en México y puede contener disposiciones sobre energías renovables.
                </p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6">
                <h2>Incentivos Fiscales</h2>
                <p>
                    Explora los incentivos fiscales disponibles para proyectos de energías renovables, como deducciones
                    y créditos fiscales.
                </p>
            </div>
            <div class="col-md-6">
                <a href="http://documentos.congresoqroo.gob.mx/leyes/L114-XVI-20210716-L1620210716133.pdf">
                    <h2>Políticas Estatales</h2>
                </a>
                <p>
                    Diferentes estados en México pueden tener políticas específicas relacionadas con las energías
                    renovables, aqui dejamos a tu dispocion las de Quintana Roo.
                </p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6">
                <h2>Proyectos de Biogás y Biomasa</h2>
                <p>
                    Examina regulaciones específicas para proyectos que utilicen biogás y biomasa para generar energía.
                </p>
            </div>
            <div class="col-md-6">
                <h2>Normatividad de la CRE</h2>
                <p>
                    Consulta regulaciones específicas emitidas por la Comisión Reguladora de Energía (CRE) relacionadas
                    con energías renovables.
                </p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6">
                <h2>Certificación de Equipos y Tecnologías</h2>
                <p>
                    Normativas que establecen los estándares y requisitos para la certificación de equipos y tecnologías
                    de energías renovables.
                </p>
            </div>
            <div class="col-md-6">
                <h2>Regulación para la Generación Distribuida</h2>
                <p>
                    Examina regulaciones que rigen la generación distribuida, como sistemas solares residenciales.
                </p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6">
                <h2>Licencias y Permisos Ambientales</h2>
                <p>
                    Regulaciones relacionadas con la obtención de licencias y permisos ambientales para proyectos de
                    energías renovables.
                </p>
            </div>
            <div class="col-md-6">
                <a
                    href="http://documentos.congresoqroo.gob.mx/historial/13_legislatura/decretos/3anio/4PE/dec313/I1320130530313.pdf">
                    <h2>Regulación para Proyectos Eólicos</h2>
                </a>
                <p>
                    Normativas específicas para la implementación de parques eólicos.
                </p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6">
                <h2>Contratos de Compra de Energía (PPA)</h2>
                <p>
                    Explora las regulaciones relacionadas con la firma de contratos de compra de energía entre productores y consumidores.
                </p>
            </div>
            <div class="col-md-6">
                <h2>Regulación para Proyectos de Energía Solar</h2>
                <p>
                    Normativas específicas para la implementación de proyectos de energía solar.
                </p>
            </div>
        </div>

    </div>
    <script type="module" src="/assets/js/main.js"></script>
</body>

</html>